html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html.--scroll-disabled {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}


body {
  font-family: 'Inter-Regular', sans-serif;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--font-standard);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: var(--bg-white);
  overflow-x: hidden;
  &.is-scroll-disabled {
    overflow-y: hidden;
    height: 100vh;
  }
}


ol, ul {
  list-style: none;
}

picture, source, img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

div {
  box-sizing: border-box;
}

svg rect {
  shape-rendering: crispEdges;
}

svg path {
  shape-rendering: optimizeQuality;
}

figure {
  margin: 0;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #eee;
}

img {
  width: 100%;
  height: auto;
}


input, textarea {
  display: block;
  color: inherit;
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

input[name=honeypot] {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}
