

h1 {
  font-size: $base-font-size * $font-scale * 3;
  line-height: $line-height * 2;
}

h2 {
  font-size: $base-font-size * $font-scale * 2;
  line-height: $line-height * 1.5;
}

h3 {
  font-size: $base-font-size * $font-scale * 1.5;
  line-height: $line-height;
}

h4 {
  font-size: $base-font-size * $font-scale;
  line-height: $line-height;
}

h5 {
  font-size: $base-font-size * $font-scale / 1.5;
  line-height: $line-height;
}

h6 {
  font-size: $base-font-size;
}


a {
  &:link {
    color: inherit;
    text-decoration: underline;
  }
  &:visited {
    color: inherit;
  }
}

p {
  hyphens: auto;
  a {
    text-decoration: underline;
  }
}


label {
  font-size: $line-height
}

input[type=text], input[type=mail], textarea {
  font-size: $base-font-size;
}


input[type=submit] {
  font-size: $base-font-size;
}

blockquote {
  font-size: $base-font-size * $font-scale;
  line-height: $base-line-height / ($font-scale * 1.125);
  hyphens: auto;
}
