.container {
  width: 85%;
  max-width: $desktop;
  margin: 0 auto;
}

@media(min-width: $desktop) {
  .container {
    width: 67%;
  }
}


.content--input {
  max-width: var(--text-width--input);
}

.content--narrow {
  max-width: var(--text-width--narrow);
}

.content--normal {
  max-width: var(--text-width--normal);
}

.content--wide {
  max-width: var(--text-width--wide);
}

.content--center {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: flex;
  flex-flow: wrap;
}

.grid.grid--reverse {
  flex-direction: row-reverse;
}

.grid.grid--center {
  align-items: center;
}

.grid.grid--bottom {
  align-items: flex-end;
}

.grid.grid--gutters {
  margin-left: -$gutters-normal;
  margin-right: -$gutters-normal;
  &.gutters--small {
    margin-left: -$gutters-small;
    margin-right: -$gutters-small;
  }
}

.grid.grid--gutters .col {
  padding-left: $gutters-normal;
  padding-right: $gutters-normal;
  &.gutters--small .col {
    padding-left: $gutters-small;
    padding-right: $gutters-small;
  }
}

.col {
}


@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100%;
  }
  .col-push-#{$i} {
    width: 0;
  }
}

@media(min-width: $tablet) {

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns  * $i;
    }
    .col-push-#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
    .col-pull-#{$i} {
      margin-right: 100% / $grid-columns * $i;
    }
  }
}



.spacer-xxxs {
  margin-bottom: var(--spacer-xxxs);
}

.spacer-xxs {
  margin-bottom: var(--spacer-xxs);
}

.spacer-xs {
  margin-bottom: var(--spacer-xs);
}

.spacer-s {
  margin-bottom: var(--spacer-s);
}

.spacer-m {
  margin-bottom: var(--spacer-m);
}

.spacer-l {
  margin-bottom: var(--spacer-l);
}

.spacer-xl {
  margin-bottom: var(--spacer-xl);
}

.spacer-xxl {
  margin-bottom: var(--spacer-xxl);
}

.spacer-xxxl {
  margin-bottom: var(--spacer-xxxl);
}


.spacer-xxxs-top {
  margin-top: var(--spacer-xxxs);
}

.spacer-xxs-top {
  margin-top: var(--spacer-xxs);
}

.spacer-xs-top {
  margin-top: var(--spacer-xs);
}

.spacer-s-top {
  margin-top: var(--spacer-s);
}

.spacer-m-top {
  margin-top: var(--spacer-m);
}

.spacer-l-top {
  margin-top: var(--spacer-l);
}

.spacer-xl-top {
  margin-top: var(--spacer-xl);
}

.spacer-xxl-top {
  margin-top: var(--spacer-xxl);
}

.spacer-xxxl-top {
  margin-top: var(--spacer-xxxl);
}
