.container {
  max-width: $large;
  padding: 0 20px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-flow: wrap;
  &.grid--reverse {
    flex-direction: row-reverse;
  }
  &.grid--center {
    align-items: center;
  }
}


@for $i from 1 through 12 {
  .pa#{$i} {
    padding: pow($i, $spacer-scale) * 1px;
  }
  .pt#{$i} {
    padding-top: pow($i, $spacer-scale) * 1px;
  }
  .pb#{$i} {
    padding-bottom: pow($i, $spacer-scale) * 1px;
  }
  .pl#{$i} {
    padding-left: pow($i, $spacer-scale) * 1px;
  }
  .pr#{$i} {
    padding-right: pow($i, $spacer-scale) * 1px;
  }

  .ma#{$i} {
    margin: pow($i, $spacer-scale) * 1px;
  }
  .mt#{$i} {
    margin-top: pow($i, $spacer-scale) * 1px;
  }
  .mb#{$i} {
    margin-bottom: pow($i, $spacer-scale) * 1px;
  }
  .ml#{$i} {
    margin-left: pow($i, $spacer-scale) * 1px;
  }
  .mr#{$i} {
    margin-right: pow($i, $spacer-scale) * 1px;
  }
}


@for $i from 1 through $grid-columns {
  .grid {
    & > .small-#{$i} {
      width: 100% / $grid-columns  * $i;
    }
    & > .small-push-#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
    & > .small-pull-#{$i} {
      margin-right: 100% / $grid-columns * $i;
    }
  }
}

@media(min-width: $small) {
  @for $i from 1 through $grid-columns {
    .grid {
      & > .medium-#{$i} {
        width: 100% / $grid-columns  * $i;
      }
      & > .medium-push-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
      & > .medium-pull-#{$i} {
        margin-right: 100% / $grid-columns * $i;
      }
    }
  }
}

@media(min-width: $medium) {
  @for $i from 1 through $grid-columns {
    .grid {
      & > .large-#{$i} {
        width: 100% / $grid-columns  * $i;
      }
      & > .large-push-#{$i} {
        margin-left: 100% / $grid-columns * $i;
      }
      & > .large-pull-#{$i} {
        margin-right: 100% / $grid-columns * $i;
      }
    }
  }
}
